body {
    background: gray;
    margin: 0;
  }
  
  canvas {
    background: black;
    border: solid 2px white;
    margin-left: 40px;
    margin-top: 80px;
  }
  
  #textScore,
  #score {
    font-weight: bold;
    color: white;
    font-size: 50px;
  }
  
  #containerScore {
    position: absolute;
    bottom: 500px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
  }
  
  #score {
    margin-left: 10px;
  }
  
  .button-container {
    text-align: center;
    margin-top: 5px;
  }
  
  
  .button-container button {
    margin: 6px 15px;
    margin-left: 30px;
    padding: 10px 25px;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1px;
    font-family: 'Times New Roman', Times, serif;
    border: none;
    background-color: #fff; 
    color: #000;
  }
  
   
  .button-container button:hover {
    background-color: #000;
    color: #fff;
  }
  

  #containerTotalScore {
    display: none;
  }
  
  #btnRestartGame:active {
   scale: 0.9;
   transition: 0.3s;
   position: relative;
  }
 
 